<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.cohorte.studio.eclipse.ui.cohorte.project"
            name="Cohorte">
      </category>
      <wizard
            category="org.cohorte.studio.eclipse.ui.cohorte.project"
            class="org.cohorte.studio.eclipse.ui.node.wizards.CNodeProjectWizard"
            id="org.cohorte.studio.eclipse.ui.application.new.project"
            name="New Cohorte Application Project"
            project="true">
      </wizard>
   </extension>
   <extension
         id="NodeNature"
         name="Cohorte Node Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.cohorte.studio.eclipse.ui.node.nature.CNodeProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/co_8x8.png"
            id="org.cohorte.studio.eclipse.ui.node.NodeNatureImage"
            natureId="org.cohorte.studio.eclipse.ui.node.NodeProjectNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.cohorte.studio.eclipse.ui.node.nature.BundlesSettingsPage"
            id="org.cohorte.studio.eclipse.ui.node.BundlesPage"
            name="Cohorte Bundles">
         <enabledWhen>
            <reference
                  definitionId="org.cohorte.studio.eclipse.ui.node.HasNodeNature">
            </reference></enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.cohorte.studio.eclipse.ui.node.HasNodeNature">
         <adapt
               type="org.eclipse.core.resources.IProject">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="org.cohorte.studio.eclipse.ui.node.NodeProjectNature">
            </test>
         </adapt>
      </definition>
   </extension>

</plugin>
